{% extends 'base.html.twig' %}

{% block title "Home" %}

{% block body %}
    <h1>Home</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam aliquid animi asperiores aut
        dolor fugiat, magnam maiores molestiae nihil non, nostrum pariatur placeat praesentium quas quo quos reiciendis
        repellendus.
    </p>
{% endblock %}
